<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>羽田空港 航空無線</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main
      class="d-flex justify-content-center align-items-center flex-column gap-4"
      style="height: 100vh"
    >
      <audio id="audio" controls></audio>

      <table
        class="table table-striped table-bordered text-center"
        style="width: 400px"
      >
        <thead>
          <tr>
            <th scope="col">運用場所</th>
            <th scope="col">周波数</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">ATIS（気象情報、自動放送）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="128800000"
              >
                128.8 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">APP（着陸誘導）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="119400000"
              >
                119.4 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">RDR（広域管制）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="126500000"
              >
                126.5 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">DEP（離陸誘導）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="120800000"
              >
                120.8 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">TCA（空港空域管制）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="124750000"
              >
                124.75 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">TCA（空港空域管制）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="119700000"
              >
                119.7 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">TCA（空港空域管制）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="256100000"
              >
                256.1 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">TWR（着陸許可: A滑走路）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="118100000"
              >
                118.1 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">TWR（着陸許可: B滑走路）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="118570000"
              >
                118.57 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">TWR（着陸許可: C滑走路）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="124350000"
              >
                124.35 MHz
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">TWR（着陸許可: D滑走路）</th>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-freq="118725000"
              >
                118.725 MHz
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div
        id="notificationToast"
        class="toast align-items-center text-bg-primary border-0 p-8 position-fixed bottom-0 m-3"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body"><span id="freq-text"></span>に変更中</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script>
      const audio = document.getElementById("audio");
      const status = document.getElementById("status");
      const toastEl = document.getElementById("notificationToast");
      const toast = bootstrap.Toast.getOrCreateInstance(toastEl);
      const url = "/streaming/playlist.m3u8";

      async function setFreq(freqHz) {
        document.getElementById("freq-text").textContent = `${(
          freqHz / 1000000
        ).toFixed(3)} MHz`;
        toast.show();

        try {
          const res = await fetch("/api/freq", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ freq_hz: freqHz }),
          });
          const data = await res.json().catch(() => ({}));
        } catch (e) {
          console.error(e);
        }
      }

      document.querySelectorAll(".btn").forEach((btn) => {
        btn.addEventListener("click", () => setFreq(Number(btn.dataset.freq)));
      });

      if (Hls.isSupported()) {
        const hls = new Hls();
        hls.loadSource(url);
        hls.attachMedia(audio);
        hls.on(Hls.Events.MANIFEST_PARSED, function () {});
      } else if (audio.canPlayType("application/vnd.apple.mpegurl")) {
        audio.src = url;
      } else {
        alert("HLS再生に対応していないブラウザです。");
      }
    </script>
  </body>
</html>
